<div class="layout-user row">
    <div class="col-md-2">
        <div class="user-head">
            <img alt="头像">
        </div>
        <div class="user-menu">
            <custom-menu params="menuList:getUserMenu(),count:-1,menuClass:'vertical-menu'"></custom-menu>
        </div>
    </div>
    <div class="col-md-10">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">2013</a></li>
            <li class="active">十一月</li>
        </ul>
    </div>
</div>