<div class="layout-user row">
    <div class="col-md-2">
        <div class="user-head">
            <img alt="头像">
        </div>
        <div class="user-menu">
            <ul class="nav" data-bind="foreach: [1,2,3]">
                <li class="nav-item">
                    <a class="nav-link" data-bind="text:'我的文件'"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <custom-menu params="menuList:getUserMenu(),count:-1"></custom-menu>
        <div data-bind='component: {name: "custom-menu",params: { menuList:getUserMenu(),count:-1 }}'></div>
    </div>
</div>