.layout-user{
    height: 100%;
    width: 100%;
}
.layout-user>div:nth-child(1){
    height: 100%;
    background-color: #bd5d38;
    padding: 30px 0px;
    overflow: auto;
}
.layout-user>div:nth-child(2){
    height: 100%;
    padding: 0px;
    overflow: hidden;
}
.user-head{
    width: 160px;
    height: 160px;
    margin: 50px auto;
}
.user-head>img{
    content:url(./profile.jpg);
    max-width: 100%;
    width: 144px;
    height: auto;
    border: .6rem solid #CA7D60;
    border-radius: 50%!important;
}
.user-menu{
    padding: 0px 80px;
}
.user-menu .vertical-menu li{
    margin: 5px 0px;
}
.user-menu i,.user-menu span{
    color: #fff;
}