<div class="layout-visitor">
    <div class="navbar navbar-inverse  navbar-fixed-top">
        <!--容器包裹-->
        <div class="container">
            <!--导航条头部加汉堡包-->
            <div class="nav navbar-header">
                <a href="#page1" class="navbar-brand">
                    <img src="/static/resource/images/success.png" alt="" class="" style="width:20px"/>
                </a>
                <a href="#menu" class="navbar-toggle navbar-icon" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <!--第二部分，导航条折叠部分-->
            <div class="collapse navbar-collapse" id="menu">
                <!--左侧导航菜单-->
                <ul class="nav navbar-nav">
                    <li><a href="#" class="active">产品介绍</a></li>
                    <li><a href="#">上新动态</a></li>
                    <li><a href="#">优惠活动</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">售后服务</a></li>
                </ul>
                <!--右侧导航菜单-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1>图书商城</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
        </div>


    </div>
</div>