**/HELP.md
BlogServer/target/**
!**/src/main/**
!**/src/test/**
BlogServer/out/**
BlogServer/src/**
BlogServer/store/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

### VS Code ###
**/.vscode/
