.custom-card {
    width: 100%;
    height: 100%;
}

.custom-card > .top-menu {
    width: 100%;
    height: 50px;
}

.custom-card > .card-head {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.custom-card > .card-head > .row-select {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 100%;
    line-height: 50px;
}

.custom-card > .card-head > .row-temp {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.custom-card > .card-body {
    width: 100%;
    height: calc(100% - 100px);
}

.custom-card > .card-body .crad-body-row {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid rgb(231, 234, 253);
}

.custom-card > .card-body .crad-body-row:first-child {
    border-top: 1px solid rgb(231, 234, 253);
}

.custom-card > .card-body .crad-body-row:hover {
    background: #e6eefa;
    border-bottom: 1px solid #dfe7f3;
}

.custom-card > .card-body .crad-body-row > .row-select {
    flex-grow: 0;
    flex-shrink: 0;
    width: 38px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    vertical-align: center;
}

.custom-card > .card-body .crad-body-row > .row-temp {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.custom-card > .card-body .crad-body-row > .row-menu {
    flex-grow: 0;
    flex-shrink: 0;
    width: 200px;
    height: 100%;
}