.vertical-nav > li {
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0px 36px;
    text-align: center;
}

.vertical-nav > li > a {
    color: #34eeff;
}

.vertical-nav > li > a > span {
    font-size: 15px;
    margin-left: 16px;
}