<template id="common-template">
    <!-- {{{ --><!-- ko if: name && ko.components.isRegistered(name) --><!-- }}} -->
    <!-- {{{ --><!-- ko component: {name: name, params: $data.data } --><!-- }}} --><!-- {{{ --><!-- /ko --><!-- }}} -->
    <!-- {{{ --><!-- /ko --><!-- }}} -->
    <!-- {{{ --><!-- ko if: name && !ko.components.isRegistered(name) --><!-- }}} -->
    <!-- {{{ --><!-- ko template: {name: name, data: $data.data } --><!-- }}} --><!-- {{{ --><!-- /ko --><!-- }}} -->
    <!-- {{{ --><!-- /ko --><!-- }}} -->
</template>
<template id="toast-list-template">
    <!-- {{{ --><!-- ko foreach: $data.list--><!-- }}} -->
    <!-- {{{ --><!-- ko template: {name: 'common-template', data: {name:'toast-template',data:$data} } --><!-- }}} -->
    <!-- {{{ --><!-- /ko --><!-- }}} -->
    <!-- {{{ --><!-- /ko --><!-- }}} -->
</template>
<template id="toast-template">
    <div class="panel panel-default toast-div">
        <div class="panel-heading">
            <h3 class="panel-title" data-bind="text: $data.headText"></h3>
        </div>
        <div class="panel-body" data-bind="text: $data.getMessage()"></div>
        <div class="progress-bar" style="height: 3px" data-bind="style:{width:'80%'}"></div>
    </div>
</template>
<template id="blog-loading-page">
    <h2>加载中。。。。。。</h2>
</template>