.custom-card {
    width: 100%;
    height: 100%;
}

.custom-card > .top-menu {
    width: 100%;
    height: 50px;
    padding: 9px 40px;
}

.custom-card > .top-menu .horizontal > li {
    line-height: 20px;
}

.custom-card > .card-head {
    width: 100%;
    height: 28px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 36px;
    border-top: 0.1em solid rgb(231, 234, 253);
}

.custom-card > .card-body {
    width: 100%;
    height: calc(100% - 78px);
    overflow: auto;
    padding-bottom: 10px;
}

.custom-card > .card-head > .chosen-text {
    margin-right: 6px;
    color: #09aaff;
}

.custom-card > .card-head > .row-select {
    flex-grow: 0;
    flex-shrink: 0;
    width: 38px;
    height: 100%;
    line-height: 36px;
    text-align: center;
}

.custom-card > .card-head > .row-temp {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.custom-card > .card-body .crad-body-row {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid rgb(231, 234, 253);
}

.custom-card > .card-body .crad-body-row:first-child {
    border-top: 1px solid rgb(231, 234, 253);
}

.custom-card > .card-body .crad-body-row:hover {
    background: #e6eefa;
    border-bottom: 1px solid #dfe7f3;
}

.custom-card > .card-body .crad-body-row > .row-select {
    flex-grow: 0;
    flex-shrink: 0;
    width: 38px;
    height: 100%;
    line-height: 56px;
    text-align: center;
    vertical-align: center;
}

.custom-card > .card-body .crad-body-row > .row-temp {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.custom-card > .card-body .crad-body-row > .row-menu {
    flex-grow: 0;
    flex-shrink: 0;
    width: 200px;
    height: 100%;
}

.custom-card > .card-body .no-data {
    width: 100%;
    height: 100%;
    text-align: center;
}

.custom-card > .card-body .no-data > img {
    content: url(./empty.png);
    max-height: 100%;
    max-width: 100%;
}

.custom-card .row-select input[type="checkbox"] {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    line-height: 15px;
    position: relative;
    cursor: pointer;
}

.custom-card .row-select input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.custom-card .row-select input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #7D7D7D;
    border-radius: 4px;
    color: #7D7D7D;
    font-size: 16px;
    font-weight: bold;
}

.custom-card .loading {
    width: 150px;
    height: 15px;
    margin: 100px auto;
}

.custom-card .loading span {
    display: inline-block;
    width: 15px;
    height: 100%;
    margin-right: 5px;
    border-radius: 50%;
    background: #13ceff;
    -webkit-animation: load 1.04s ease infinite;
}

.custom-card .loading span:last-child {
    margin-right: 0px;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: scale(.3);
    }
}

.custom-card .loading span:nth-child(1) {
    -webkit-animation-delay: 0.13s;
}

.custom-card .loading span:nth-child(2) {
    -webkit-animation-delay: 0.26s;
}

.custom-card .loading span:nth-child(3) {
    -webkit-animation-delay: 0.39s;
}

.custom-card .loading span:nth-child(4) {
    -webkit-animation-delay: 0.52s;
}

.custom-card .loading span:nth-child(5) {
    -webkit-animation-delay: 0.65s;
}
