@charset "utf-8";
.layout-admin{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.layout-admin>div:nth-child(1){
    width: 220px;
    height: 100%;
    position: absolute;top:0;left: 0;
}

.layout-admin .admin-container{
    width: 100%;
    height: 100%;
    padding-left: 220px;
}
.admin-container .navbar .breadcrumb{
    margin: 0px;
    padding: 0px;
    line-height: 50px;
}
.layout-admin .admin-container>div:nth-child(1){
    padding: 0px 30px;
    margin: 0px;
    background: #f3f3f4;
}
.layout-admin  .admin-container>div:nth-child(2){
    height: 100%;
}
.admin-container .navbar .user-info>li{
    line-height: 50px;
}
.user-info>li{
    float: right;
    margin: 0 6px;
}