<div class="layout-admin">
    <div data-bind="component: {name:'custom-menu',params:{menuList:getAdminBar(),count:-1,menuClass:'shrink-menu'}}"></div>
    <div>
        <nav class="navbar navbar-static-top" style="background: #f3f3f4;">
            <ul class="navbar-nav">
                <li><a>888888</a></li>
            </ul>
            <ul class="navbar-right">
                <li><a><i class="fa fa-sign-out"></i><span>logout</span></a></li>
            </ul>
        </nav>
        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div data-bind="component:{name:'ko-route',params:{routes:$data.getAdminRoutes()}}"></div>
    </div>
</div>