<div class="layout-admin">
    <div data-bind="component: {name:'custom-menu',params:{menuList:getAdminBar(),count:-1,menuClass:'shrink-menu'}}"></div>
    <div>
        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div data-bind="component:{name:'ko-route',params:{routes:$data.getAdminRoutes()}}"></div>
    </div>
</div>