.route-404 {
    width: 100%;
    height: 100%;
}
.route-404 div{
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .route-404 {
        text-align: center;
        margin: 0px;
    }
    .route-404>div:first-child{
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    .route-404 {
        display: flex;
        align-items: center;
        margin-left: 46px;
    }
}

.route-404 .btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
}

.route-404 .btn.callback {
    border: 4px solid #2ccf6d;
    color: #0e0620;
}

.route-404 .btn.callback:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #2ccf6d;
    z-index: -1;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.route-404 .btn.callback:hover {
    color: #fff;
    background: #2ccf6d;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.route-404 .btn.callback:hover:before {
    width: 100%;
}