.entry {
    color: #09aaff;
    width: 100%;
    height: 100%;
    vertical-align: center;
}

.entry > span {
    cursor: pointer;
    color: #09aaff;
}

.entry > span:hover {
    color: #337ab7;
}

.entry .ban-clcik {
    cursor: not-allowed;
}