.custom-tree >ul.userlist  li{
    background-color: #fff;
    border-top: 1px solid #dfe7f3;
    white-space: nowrap;
    padding:12px 0;
    width: 100%;
    display: flex;
}
.custom-tree >ul.userlist li:hover{background: #e6eefa;
    }
.custom-tree li>div{display: flex; align-items: center;}
.custom-tree li>div:last-child i{ color:#aaaeb1; font-size:22px; padding:0;}
.custom-tree li:hover{
    background-color: #eee;
}
.custom-tree li .material-icons{ 
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    color: #b8c8ff;
    cursor: pointer;
    padding-right: 10px;
}
.custom-tree li .headimage{ margin: 0 8px; }
.custom-tree li>div:last-child{ white-space: nowrap; display: inline-block; padding-right:15px;}
.custom-tree li>div:last-child ul li {
    float: right;
    width: 40px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    background: transparent;
    border: none;
}
.custom-tree li>div.volume{display: flex; justify-content: flex-end;}
.custom-tree li>div.volume >div{display: flex; align-items: center;}
.custom-tree li>div.volume >div >span{margin-right:10px;}
.custom-tree li>div.volume >div .extend-volume-button{font-size:18px; }
.custom-tree .operate-menu{text-align: right;}
.custom-tree .operate-menu ul{float:right;}
.custom-tree .operate-menu ul li{
    float: left;
    width: 40px;
    font-size: 16px;
    text-align: center;}
.custom-tree .operate-menu ul li a{color:#aaaeb1;}
.custom-tree .operate-menu ul li a i{font-size:22px;}
